.product-item
{
    position: relative;

    width: 320px;

    margin-bottom: 20px;
    &:last-child
    {
      margin-bottom: 0;
    }
    &:before
    {
        position: absolute;
        z-index: 0;
        top: 44px;
        left: 3px;

        width: 312px;
        height: 6px;

        content: '';

        border-radius: 6px;
        background-color: #f2f2f2;
    }

    &--disabled
    {
        & .product-item__card {
            &:after,
            &:before
            {
                border-color: $bg-gray;

            }
            &:hover
            {
                border-color: $bg-gray;

                &:after,
                &:before
                {
                    border-color: $bg-gray;
                }
                & .product-item__weight
                {
                    background-color: $bg-gray;
                }
            }
        }
        & .product-item__card
        {
            cursor: default;

            border-color: $bg-gray;
        }
        & .product-item__description
        {
            opacity: .5;
        }
        & .product-item__name
        {
            color: $font-gray;
        }
        & .product-item__image
        {
            opacity: .5;
        }
        & .product-item__weight
        {
            background-color: $bg-gray;
        }
        & .product-item__disable-text
        {
            display: block;
        }
        & .product-item__buy-text
        {
            display: none;
        }
    }
    &--checked
    {
        & .product-item__card
        {
            &:after,
            &:before
            {
                border-color: $bg-pink;
            }
            &:hover
            {
                border-color: $bg-lightpink;

                &:after,
                &:before
                {
                    border-color: $bg-lightpink;
                }
                & .product-item__weight
                {
                    background-color: $bg-lightpink;
                }
                & .product-item__card
                {
                    border-color: $bg-lightpink;
                }
            }
        }

        & .product-item__card
        {
            border-color: $bg-pink;
        }
        & .product-item__weight
        {
            background-color: $bg-pink;
        }
        & .product-item__check-text
        {
            display: block;
        }
        & .product-item__buy-text
        {
            display: none;
        }
    }
    &--checked-hover
    {
        & .product-item__card
        {
            &:hover
            {
                .product-item__cancel
                {
                    display: inline-block;
                }
                .product-item__promo
                {
                    display: none;
                }
            }
        }
    }
    &__card
    {
        position: relative;

        box-sizing: border-box;

        cursor: pointer;

        border: 4px solid $bg-blue;
        border-top: 0;
        border-radius: 0 0 12px 12px;
        background-color: $bg-graywhite;
        min-height: 435px;
        margin-top: 45px;
        &:before
        {
            position: absolute;
            z-index: 0;
            top: -45px;
            left: 19px;

            display: inline-block;

            box-sizing: border-box;
            width: 160px;
            height: 45px;

            content: '';
            cursor: pointer;
            -webkit-transform: skew(-45deg);
                    transform: skew(-45deg);

            border-top: 4px solid $bg-blue;
            border-left: 4px solid $bg-blue;
            background-color: $bg-graywhite;
        }
        &:after
        {
            position: absolute;
            z-index: 0;
            top: -45px;
            right: -4px;

            display: inline-block;

            width: 160px;
            height: 45px;

            content: '';
            cursor: pointer;

            border-top: 4px solid $bg-blue;
            border-right: 4px solid $bg-blue;
            border-top-right-radius: 12px;
            background-color: $bg-graywhite;
        }
        &:hover
        {
            border-color: $bg-lightblue;

            &:after,
            &:before
            {
                border-color: $bg-lightblue;
            }
            & .product-item__weight
            {
                background-color: $bg-lightblue;
            }
        }
    }
    &__promo
    {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;

        position: relative;
        z-index: 1;
        top: -24px;

        width: 240px;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        left: 44px;

        cursor: pointer;

        color: $font-gray;
    }
    &__cancel
    {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;

        position: relative;
        z-index: 1;
        top: -24px;

        display: none;

        margin-top: 0;
        margin-bottom: 0;
        left: 44px;
        width: 240px;

        cursor: pointer;

        color: $font-lightpink;
    }
    &__description
    {
        min-height: 160px;
        margin-top: -17px;
        padding-left: 44px;

        border-radius: 0 0 8px 8px;
    }
    &__content
    {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;

        color: $font-gray;
    }
    &__name
    {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1;

        margin-top: 0;
        margin-bottom: 15px;
        margin-left: -2px;

        color: $font-black;
    }
    &__taste
    {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;

        display: block;

        margin-left: 2px;
    }
    &__portion,
    &__gift,
    &__customer
    {
        margin: 0;
    }
    &__portion-amount
    {
        font-weight: 700;
    }
    &__gift-amount b
    {
        font-weight: 700;

        margin-right: 3px;
    }
    &__customer
    {
        text-transform: lowercase;
    }
    &__weight
    {
        position: absolute;
        z-index: 2;
        right: 12px;
        bottom: 12px;

        box-sizing: border-box;
        width: 80px;
        height: 80px;
        padding-top: 11px;

        text-align: center;

        color: $font-white;
        border-radius: 50%;
        background-color: $bg-blue;
        &-number
        {
            font-size: 42px;
            line-height: 1;

            display: block;
        }
        &-units
        {
            font-size: 21px;
            line-height: 18px;

            display: block;
        }
    }
    &__image
    {
        font-size: 0;

        position: relative;
        bottom: 0;
        left: 0;

        overflow: hidden;
        height: 269px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        border-radius: 0 0 8px 8px;
        & img
        {
            width: auto;
            height: auto;
            max-height: 269px;
        }
    }
    &__buy-text
    {
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
        min-height: 14px;

        margin: 0;
        margin-top: 15px;

        text-align: center;

        color: $font-white;
    }
    &__check-text
    {
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
        min-height: 14px;

        display: none;

        margin: 0;
        padding-top: 15px;

        text-align: center;

        color: $font-white;
    }
    &__disable-text
    {
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
        min-height: 14px;

        display: none;

        margin: 0;
        padding-top: 15px;

        text-align: center;

        color: $font-yellow;
    }
    &__buy-button
    {
        font-family: $font-trebuchet;

        padding: 0;

        cursor: pointer;

        color: $font-blue;
        font-size: 13px;
        border: 0;
        border-top: none;
        border-right: none;
        border-bottom: 1px dashed $font-blue;
        border-left: none;
        background-color: transparent;
        -webkit-appearance: none;
        line-height: 1;
        &:hover
        {
            color: $font-lightblue;
            border-bottom: 1px dashed $bg-lightblue;
        }
    }
}
@media #{$tablet-widths}
{
    .product-item
    {
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media #{$desktop-widths}
{
    .product-item
    {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
}
