//- Все примеси в этом файле должны начинаться c имени блока (product-item)

mixin product-item(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-item--' + modsList[i].trim();
      }
    }
  article.product-item(class=allMods)
    .product-item__card
      p.product-item__promo Сказочное заморское яство
      p.product-item__cancel Котэ не одобряет?
      .product-item__description
        h2.product-item__name Нямушка
          span.product-item__taste с фуа-гра
        .product-item__content
          p.product-item__portion
            span.product-item__portion-amount 10
            | &nbsp;порций
          p.product-item__gift
            span.product-item__gift-amount мышь
            | &nbsp;в подарок
      .product-item__weight
        span.product-item__weight-number 0,5
        span.product-item__weight-units кг
      .product-item__image
        img(src="img/cat.png" alt="Нямушка с фуа-гра" width="312" height="269")
    p.product-item__buy-text Чего сидишь? Порадуй котэ,&#8194;
      button(type="button").product-item__buy-button купи
      | .
    p.product-item__check-text Печень утки разварная с артишоками.
    p.product-item__disable-text Печалька, с фуа-гра закончился.
  article.product-item(class="product-item--checked")
    .product-item__card
      p.product-item__promo Сказочное заморское яство
      p.product-item__cancel Котэ не одобряет?
      .product-item__description
        h2.product-item__name Нямушка
          span.product-item__taste с рыбой
        .product-item__content
          p.product-item__portion
            span.product-item__portion-amount 40
            | &nbsp;порций
          p.product-item__gift
            span.product-item__gift-amount
              b 2
              | мыши
            | &nbsp;в подарок
      .product-item__weight
        span.product-item__weight-number 2
        span.product-item__weight-units кг
      .product-item__image
        img(src="img/cat.png" alt="Нямушка с рыбой" width="312" height="269")
    p.product-item__buy-text Чего сидишь? Порадуй котэ,&#8194;
      button(type="button").product-item__buy-button купи
      | .
    p.product-item__check-text Головы щучьи с чесноком да свежайшая сёмгушка.
    p.product-item__disable-text Печалька, с рыбой закончился.
  article.product-item(class="product-item--disabled")
    .product-item__card
      p.product-item__promo Сказочное заморское яство
      p.product-item__cancel Котэ не одобряет?
      .product-item__description
        h2.product-item__name Нямушка
          span.product-item__taste с курой
        .product-item__content
          p.product-item__portion
            span.product-item__portion-amount 100
            | &nbsp;порций
          p.product-item__gift
            span.product-item__gift-amount
              b 5
              | мышей
            | &nbsp;в подарок
          p.product-item__customer Заказчик доволен
      .product-item__weight
          span.product-item__weight-number 5
          span.product-item__weight-units кг
      .product-item__image
          img(src="img/cat.png" alt="Нямушка с курой" width="312" height="269")
    p.product-item__buy-text Чего сидишь? Порадуй котэ,&#8194;
      button(type="button").product-item__buy-button купи
      | .
    p.product-item__check-text Филе из цыплят с трюфелями в бульоне.
    p.product-item__disable-text Печалька, с курой закончился.
